@font-face {
    font-family: 'graphik';
    src: url('../fonts/graphik/graphik-extralight.eot');
    src: url('../fonts/graphik/graphik-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/graphik/graphik-extralight.woff') format('woff'),
         url('../fonts/graphik/graphik-extralight.ttf') format('truetype'),
         url('../fonts/graphik/graphik-extralight.svg') format('svg');
    font-weight: 200;
}

@font-face { 
    font-family: 'graphik';
    src: url('../fonts/graphik/graphik-light.eot');
    src: url('../fonts/graphik/graphik-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/graphik/graphik-light.woff') format('woff'),
         url('../fonts/graphik/graphik-light.ttf') format('truetype'),
         url('../fonts/graphik/graphik-light.svg') format('svg');
    font-weight: 300;
}

@font-face { 
    font-family: 'graphik';
    src: url('../fonts/graphik/graphik-regular.eot');
    src: url('../fonts/graphik/graphik-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/graphik/graphik-regular.woff') format('woff'),
         url('../fonts/graphik/graphik-regular.ttf') format('truetype'),
         url('../fonts/graphik/graphik-regular.svg') format('svg');
    font-weight: 400;
}

@font-face { 
    font-family: 'graphik';
    src: url('../fonts/graphik/graphik-semibold.eot');
    src: url('../fonts/graphik/graphik-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/graphik/graphik-semibold.woff') format('woff'),
         url('../fonts/graphik/graphik-semibold.ttf') format('truetype'),
         url('../fonts/graphik/graphik-semibold.svg') format('svg');
    font-weight: bold;
}


