@import '../fonts/graphik/style';

@import 'components/slider';
@import 'components/header';
@import 'components/footer';
@import 'components/portfolio';
@import 'components/home';
@import 'components/form';

body{
	font-family: graphik, sans-serif;
	line-height: 1.5em;
}

.wrapper{
	padding: 50px;
	max-width: 800px;
}


h2{
	margin-bottom: 50px;
}