@import '../fonts/graphik/style';

@import 'components/slider';
@import 'components/navigation';


body{
	font-family: graphik, sans-serif;
	line-height: 1.5em;
}

.wrapper{
	padding: 50px;
	max-width: 1000px;
	margin: 0 auto;
}


h2{
	margin-bottom: 50px;
}